@import './variables';

.title {
    font-size: 2rem;
    margin-bottom: .6rem;
    border-bottom: 2px solid $tsu-second;

    width: max-content;
}
.sub-title {
    font-size: 1.3rem;
    margin-bottom: .6em;
}

.text {
    font-size: .9rem;
}

.text-primary {
    color: $tsu-primary;
}

.text-warning {
    color: $tsu-warning;
}

.tsu-visualy-hidden {
    position: absolute;
    margin: -1px;
    width: 0px;
    height: 0px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.inline-block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app__view {

    color: $tsu-second;

    &-section:nth-child(2) {
        margin-top: 1.2rem;
    }
    
    &-section {
     
        margin-bottom: 1.2rem;
    
        &-block {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        &-inline {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}
